    <mat-card>
      <mat-card-content>
        <form #f="ngForm" fxLayout="column">
          <mat-form-field>
            <mat-label>Encoded message:</mat-label>
            <input type="text" name="encode" matInput ngModel>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="text" name="password" matInput ngModel>
            <button type="submit" (click)="onEncode()">Encode</button>
            <button type="submit" (click)="onDecode()">Decode</button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Decoded message: </mat-label>
            <input type="text" name="decode" matInput ngModel>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>

